@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="icon-base bx bx-chevron-left d-block d-xl-none align-middle"></i>
    </a>
  </div>

  <div class="menu-divider mt-0"></div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        <span class="badge rounded-pill bg-danger ms-auto">5</span>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
            <div class="text-truncate">Analytics</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/dashboards-crm.html" target="_blank" class="menu-link">
            <div class="text-truncate">CRM</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ecommerce/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-ecommerce-dashboard.html" target="_blank" class="menu-link">
            <div class="text-truncate">eCommerce</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Logistics/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-logistics-dashboard.html" target="_blank" class="menu-link">
            <div class="text-truncate">Logistics</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Academy/Dashboard" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-academy-dashboard.html" target="_blank" class="menu-link">
            <div class="text-truncate">Academy</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Layouts -->
    <li class='menu-item@(currentPage.StartsWith("/LayoutExamples") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-layout"></i>
        <div class="text-truncate">Layouts</div>
      </a>

      <ul class="menu-sub">

        <li class='menu-item@(currentPage == "/LayoutExamples/WithoutMenu" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="WithoutMenu" class="menu-link">
            <div class="text-truncate">Without menu</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/WithoutNavbar" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="WithoutNavbar" class="menu-link">
            <div class="text-truncate">Without navbar</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Fluid" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="Fluid" class="menu-link">
            <div class="text-truncate">Fluid</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Container" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="Container" class="menu-link">
            <div class="text-truncate">Container</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Blank" ? " active" : "")'>
          <a asp-controller="LayoutExamples" asp-action="Blank" class="menu-link">
            <div class="text-truncate">Blank</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Front Pages -->
    <li class='menu-item@(currentPage.StartsWith("/FrontPages") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-store"></i>
        <div class="text-truncate">Front Pages</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FrontPages/LandingPage" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/front-pages/landing-page.html" class="menu-link" target="_blank">
            <div class="text-truncate">Landing</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/PricingPage" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/front-pages/pricing-page.html" class="menu-link" target="_blank">
            <div class="text-truncate">Pricing</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/PaymentPage" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/front-pages/payment-page.html" class="menu-link" target="_blank">
            <div class="text-truncate">Payment</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/CheckoutPage" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/front-pages/checkout-page.html" class="menu-link" target="_blank">
            <div class="text-truncate">Checkout</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/HelpCenterLanding" ? " active" : "")'>
          <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/front-pages/help-center-landing.html" class="menu-link" target="_blank">
            <div class="text-truncate">Help Center</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Apps &amp; Pages</span>
    </li>
    <!-- Apps -->
    <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
      <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-email.html" target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-envelope"></i>
        <div class="text-truncate">Email</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Chat" ? " active" : "")'>
      <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-chat.html" target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-chat"></i>
        <div class="text-truncate">Chat</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Calendar" ? " active" : "")'>
      <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-calendar.html" target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-calendar"></i>
        <div class="text-truncate">Calendar</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/app-kanban.html" target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div class="text-truncate">Kanban</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
    </li>
    <!-- Pages -->
    <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-dock-top"></i>
        <div class="text-truncate">Account Settings</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
            <div class="text-truncate">Account</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
            <div class="text-truncate">Notifications</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
            <div class="text-truncate">Connections</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Auth") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-lock-open-alt"></i>
        <div class="text-truncate">Authentications</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Auth/LoginBasic" ? " active" : "")'>
          <a asp-controller="Auth" asp-action="LoginBasic" class="menu-link" target="_blank">
            <div class="text-truncate">Login</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Auth/RegisterBasic" ? " active" : "")'>
          <a asp-controller="Auth" asp-action="RegisterBasic" class="menu-link" target="_blank">
            <div class="text-truncate">Register</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Auth/ForgotPasswordBasic" ? " active" : "")'>
          <a asp-controller="Auth" asp-action="ForgotPasswordBasic" class="menu-link" target="_blank">
            <div class="text-truncate">Forgot Password</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-cube-alt"></i>
        <div class="text-truncate">Misc</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
            <div class="text-truncate">Error</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
          <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
          <div class="text-truncate">Under Maintenance</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
    <!-- Cards -->
    <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
      <a asp-controller="Cards" asp-action="Basic" class="menu-link">
        <i class="menu-icon icon-base bx bx-collection"></i>
        <div class="text-truncate" data-i18n="Cards">Cards</div>
      </a>
    </li>
    <!-- User interface -->
    <li class='menu-item@(currentPage.StartsWith("/Ui") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-box"></i>
        <div class="text-truncate">User interface</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Ui/Accordion" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Accordion" class="menu-link">
            <div class="text-truncate">Accordion</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Alerts" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Alerts" class="menu-link">
            <div class="text-truncate">Alerts</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Badges" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Badges" class="menu-link">
            <div class="text-truncate">Badges</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Buttons" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Buttons" class="menu-link">
            <div class="text-truncate">Buttons</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Carousel" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Carousel" class="menu-link">
            <div class="text-truncate">Carousel</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Collapse" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Collapse" class="menu-link">
            <div class="text-truncate">Collapse</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Dropdowns" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Dropdowns" class="menu-link">
            <div class="text-truncate">Dropdowns</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Footer" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Footer" class="menu-link">
            <div class="text-truncate">Footer</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/ListGroups" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="ListGroups" class="menu-link">
            <div class="text-truncate">List groups</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Modals" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Modals" class="menu-link">
            <div class="text-truncate">Modals</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Navbar" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Navbar" class="menu-link">
            <div class="text-truncate">Navbar</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Offcanvas" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Offcanvas" class="menu-link">
            <div class="text-truncate">Offcanvas</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/PaginationBreadcrumbs" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="PaginationBreadcrumbs" class="menu-link">
            <div class="text-truncate">Pagination &amp; Breadcrumbs</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Progress" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Progress" class="menu-link">
            <div class="text-truncate">Progress</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Spinners" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Spinners" class="menu-link">
            <div class="text-truncate">Spinners</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/TabsPills" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="TabsPills" class="menu-link">
            <div class="text-truncate">Tabs &amp; Pills</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Toasts" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Toasts" class="menu-link">
            <div class="text-truncate">Toasts</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/TooltipsPopovers" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="TooltipsPopovers" class="menu-link">
            <div class="text-truncate">Tooltips &amp; Popovers</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Typography" ? " active" : "")'>
          <a asp-controller="Ui" asp-action="Typography" class="menu-link">
            <div class="text-truncate">Typography</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Extended components -->
    <li class='menu-item@(currentPage.StartsWith("/ExtendedUi") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-copy"></i>
        <div class="text-truncate">Extended UI</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/ExtendedUi/PerfectScrollbar" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="PerfectScrollbar" class="menu-link">
            <div class="text-truncate">Perfect scrollbar</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/TextDivider" ? " active" : "")'>
          <a asp-controller="ExtendedUi" asp-action="TextDivider" class="menu-link">
            <div class="text-truncate">Text Divider</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Icons -->
    <li class='menu-item@(currentPage == "/Icons/Boxicons" ? " active" : "")'>
      <a asp-controller="Icons" asp-action="Boxicons" class="menu-link">
        <i class="menu-icon icon-base bx bx-crown"></i>
        <div class="text-truncate">Boxicons</div>
      </a>
    </li>

    <!-- Forms & Tables -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Forms &amp; Tables</span></li>
    <!-- Forms -->
    <li class='menu-item@(currentPage.StartsWith("/Forms") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-detail"></i>
        <div class="text-truncate">Form Elements</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Forms/BasicInputs" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="BasicInputs" class="menu-link">
            <div class="text-truncate">Basic Inputs</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/InputGroups" ? " active" : "")'>
          <a asp-controller="Forms" asp-action="InputGroups" class="menu-link">
            <div class="text-truncate">Input groups</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/FormLayouts") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon icon-base bx bx-detail"></i>
        <div class="text-truncate">Form Layouts</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FormLayouts/Vertical" ? " active" : "")'>
          <a asp-controller="FormLayouts" asp-action="Vertical" class="menu-link">
            <div class="text-truncate">Vertical Form</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormLayouts/Horizontal" ? " active" : "")'>
          <a asp-controller="FormLayouts" asp-action="Horizontal" class="menu-link">
            <div class="text-truncate">Horizontal Form</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Form Validation -->
    <li class='menu-item@(currentPage == "/FormValidation/Validation" ? " active" : "")'>
      <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/form-validation.html" target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-list-check"></i>
        <div class="text-truncate">Form Validation</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
    </li>
    <!-- Tables -->
    <li class='menu-item@(currentPage == "/Tables/Basic" ? " active" : "")'>
      <a asp-controller="Tables" asp-action="Basic" class="menu-link">
        <i class="menu-icon icon-base bx bx-table"></i>
        <div class="text-truncate">Tables</div>
      </a>
    </li>
    <!-- Data Tables -->
    <li class='menu-item@(currentPage == "/Tables/DataTablesBasic" ? " active" : "")'>
      <a href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/html/vertical-menu-template/tables-datatables-basic.html" target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-grid"></i>
        <div class="text-truncate">Datatables</div><div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
      </a>
    </li>
    <!-- Misc -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
    <li class="menu-item">
      <a href='@TempData.Peek("support")' target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-support"></i>
        <div class="text-truncate">Support</div>
      </a>
    </li>
    <li class="menu-item">
      <a href='@TempData.Peek("documentation")' target="_blank" class="menu-link">
        <i class="menu-icon icon-base bx bx-file"></i>
        <div class="text-truncate">Documentation</div>
      </a>
    </li>
  </ul>

</aside>
<!-- / Menu -->
